* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.universal-padding {
  padding-left: 80px;
  padding-right: 80px;
}

.btn-primary {
  border-radius: 8px;
  background: #ff5400;
  color: white;
}

/* header area css */

.header-container {
  background-image: url("Images/Group\ 13\ \(1\)\ \(1\).png");
  min-height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

.header-parent {
  width: 100%;
  min-height: 500px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.295);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header-content h1 {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-weight: 800;
  text-align: center;
}
.header-content p {
  text-align: center;
  color: #fff;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 48px;
}

.input-container {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 16px;
}
.input-container input,
select,
button {
  width: 174px;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  border: none;
}

/* our-popular-tours area css */

.our-popular-tours {
  margin-top: 100px;
  margin-bottom: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our-popular-tours-content {
  width: 40%;
}
.our-popular-tours-content p {
  margin-top: 24px;
  margin-bottom: 24px;
}
.our-popular-tours-content ul {
  margin-left: 35px;
}
.our-popular-tours-img img {
  max-width: 100%;
  height: auto;
}
