* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.universal-padding {
  padding-left: 80px;
  padding-right: 80px;
}

.btn-primary {
  border-radius: 8px;
  background: #ff5400;
  color: white;
}

/* header area css */

.header-container {
  background-image: url("Images/Group\ 13\ \(1\)\ \(1\).png");
  min-height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

.header-parent {
  width: 100%;
  min-height: 500px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.295);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header-content h1 {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-weight: 800;
  text-align: center;
}
.header-content p {
  text-align: center;
  color: #fff;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 48px;
}

.input-container {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 16px;
}
.input-container input,
select,
button {
  width: 174px;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  border: none;
}

/* our-popular-tours area css */

.our-popular-tours {
  margin-top: 100px;
  margin-bottom: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our-popular-tours-content {
  width: 40%;
}
.our-popular-tours-content p {
  margin-top: 24px;
  margin-bottom: 24px;
}
.our-popular-tours-content ul {
  margin-left: 35px;
}
.our-popular-tours-img img {
  max-width: 100%;
  height: auto;
}

/* 2nd hero section css */

.sec-hero-section-content {
  text-align: center;
}

.sec-hero-section-content h2 {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
}
.sec-hero-section-content p {
  margin-top: 24px;
  margin-bottom: 48px;

  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
}

.gallery-container {
}

.first-img-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.img-container {
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.img-container p {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-weight: 800;
}

.sec-img-row {
  margin: 24px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.third-img-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

#img-1 {
  background-image: url("Images/Rectangle\ 5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#img-2 {
  background-image: url("Images/Rectangle\ 8.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#img-3 {
  background-image: url("Images/Rectangle\ 6.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#img-4 {
  background-image: url("Images/Rectangle\ 7.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#img-5 {
  background-image: url("Images/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#img-6 {
  background-image: url("Images/Rectangle\ 11.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#img-7 {
  background-image: url("Images/Rectangle\ 10.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* why choose us area css */

.why-choose-us {
  margin-top: 100px;
}

.why-choose-us-content {
  text-align: center;
}

.why-choose-us h2 {
}

.why-choose-us p {
  margin-top: 24px;
  margin-bottom: 48px;
}

.why-choose-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  padding: 32px;
  max-width: 573px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.ornare-bg {
  background-color: #fbb56333;
}
.blue-bg {
  background-color: #29cef633;
}

.last-card-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

#last-card {
  margin-top: 24px;
}

/* deal and discount area css */
.deal-discount-container {
}

.deal-content {
  text-align: center;
}
.deal-content h2 {
  margin-top: 100px;
  margin-bottom: 24px;
}
.deal-content p {
  margin-bottom: 48px;
}

.booking-card-bg {
  background-image: url("Images/Group\ 39.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 500px;
  width: 100%;
  border-radius: 16px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 56px;
}
.booking-card-bg-two {
  background-image: url("Images/Group\ 40.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 500px;
  width: 100%;
  border-radius: 16px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 56px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.booking-card-shadow {
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  max-width: 579px;
  min-height: 389px;
  width: 100%;
  padding: 50px;
}
.booking-card-shadow h3 {
  margin-top: 24px;
  margin-bottom: 16px;
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 800;
}

.booking-card-shadow h4 {
  margin-top: 16px;
  margin-bottom: 24px;
  color: #ff5400;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 800;
}

.booking-card-shadow p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
}
.booking-card-icons {
  display: flex;
  margin-right: 24px;
  gap: 10px;
}

.booking-card-icons span {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button-one {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 100px;
}

.top-margin {
  margin-top: 46px;
}

.fluede {
  max-width: 100%;
  height: auto;
  width: 100% !important;
}

/* newsletter-container area css */

.newsletter-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 30px;
}

.form {
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 40px;
}

.form h3 {
}

.form p {
  margin-top: 16px;
  margin-bottom: 24px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  padding: 16px;
  border: none;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  margin-top: 10px;
}

form button {
  width: 100%;
  padding: 16px;
}

.news-img {
  position: relative;
}

.news-img img {
  max-width: 100%;
  height: auto;
}

.cupon {
  border-radius: 16px;
  background-color: #ff5400;
  color: white;
  text-align: center;
  max-width: 324px;
  width: 100%;
  padding: 24px;
  position: absolute;
  bottom: 54px;
  right: 0;
  transform: rotate(-19.628deg);
}
